/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* GLOBAL STYLES */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Nunito Sans";
  background-color: #000000;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0.3rem 3rem;
}
/* Header styles start */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  top: 0;
  position: sticky; /* Makes the header sticky */
  background-color: #000; /* Ensures background color when sticky */
  z-index: 1000; /* Ensures the header stays above other content */
}

.my-logo {
  width: 70px;
  margin-left: 5rem;
}

.nav-lists {
  display: flex;
  gap: 3rem; /* Reduced gap between navigation items */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav-lists {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000000; /* Black background for the navigation menu */
  }

  .nav-list {
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .hamburger {
    display: flex;
  }

  .nav-lists.active {
    display: flex;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
/* Header styles end */

/* Hero styles start */
.hero-container {
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
}
.left-content {
  margin-left: 6rem;
  flex: 1;
  align-content: center;
  justify-content: center;
}
.left-title {
  font-weight: 600px;
  font-size: 54px;
  line-height: 70px;
}
.hero-img {
  width: 520px;
  transform: transition 0.3s ease-in-out;
}
.hero-img:hover {
  transform: scale(1.1);
}
.right-content {
  flex: 1;
}

.desc-1 {
  font-weight: 400px;
  font-size: 22px;
  line-height: 29px;
}
.desc-2 {
  margin-top: 1rem;
  font-size: 24px;
  line-height: 29px;
}
/* Hero styles end */
/* Experience styles start */
.experience-container {
  margin-top: 8rem;
}
.skill-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #cccccc;
}
.skill-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  color: #cccccc;
  margin-top: 1.4rem;
}
.skills {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
  animation: skills 1s infinite;
}
@keyframes skills {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
/* Experience styles end */
/* project styles start */
.project-container {
  margin-top: 10rem;
}
.project-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #cccccc;
}
.project-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  margin-top: 1.1rem;
  text-align: center;
  color: #cccccc;
}
.card-container {
  margin-top: 4rem;
}
.cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: black; /* Card background color */
  /* border: 7px solid #ccc; 15px border with a light gray color */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2); /* Light gray shadow */
  width: 20%;
  margin: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01, 1.02);
}
.card-img {
  max-width: 100%;
  height: 200px;
  border-top-left-radius: 15px; /* Match the card's rounded corners */
  border-top-right-radius: 15px;
}
.card-content {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 4rem;
  padding: 1rem; /* Adds padding inside the card */
}

.card-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: 1.1rem;
}
.card-desc {
  line-height: 22px;
  margin-top: 1.1rem;
  font-weight: 400;
  color: #ffffff;
}
.card-btn {
  display: flex;
  gap: 1.1rem;
  margin-top: 1.1rem;
  margin-left: 3rem;
}

.card-btn button {
  background-color: black;
  color: #ffffff;
  border: none;
  text-decoration: underline;
}

/* project styles end */

/* contact  section*/
.contact-container {
  display: flex;
  gap: 4rem;
}

.left-contact-container {
  flex: 3;
}
.left-contact-container img {
  width: 60px;
  margin-left: 5rem;
}
.right-contact-container {
  flex: 4;
  margin-top: 2rem;
  display: flex;
  gap: 10rem;
}
.contact {
  display: flex;
  gap: 3rem;
  color: #f0f0f0;
  animation: contact 3s steps(18) 1s infinite, blink 0.75s step-end infinite;
  overflow: hidden;
  width: 40ch;
  white-space: nowrap;
}
@keyframes contact {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.icons {
  display: flex;
  gap: 1.1rem;
  cursor: pointer;
}
/* Contact section */
/* Footer section */

.footer-section {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.lists {
  display: flex;
  gap: 2rem;
}
.list {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 19px;
  cursor: pointer;
}
.left-footer {
  flex: 1;
}
.right-footer p {
  font-size: 1.5rem;
  line-height: 19px;
}
/* Footer section */
@media (max-width: 1284px) {
  .card {
    width: 40%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .nav-lists {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .hero-container {
    flex-direction: column-reverse;
  }
  .left-content {
    text-align: center;
    margin-left: 0rem;
    /* align-content: center; */
  }
  .skills {
    flex-wrap: wrap;
  }
  .hero-container {
    flex-direction: column-reverse;
  }
  .contact {
    display: none;
  }
  .hero-img {
    width: 320px;
    /* margin-left: 6rem */
    display: block;
    margin: 0 auto;
  }
  .left-contact-container {
    display: none;
  }
  .contact {
    gap: 0.3rem;
  }
  .contact-container {
    flex-direction: column;
    gap: 0.3rem;
  }
  .card {
    width: 100%;
  }
  .card-img {
    max-width: 100%;
    height: 400px;
  }
  .card-content {
    text-align: center;
  }
  .card-btn {
    margin-left: 4rem;
    align-items: center;
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
  }
  .left-footer,
  .right-footer {
    width: 100%;
    text-align: center;
  }
  .lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list {
    margin: 10px 0;
  }
  .right-contact-container {
    align-content: center;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .hero-img {
    margin-left: 0px;
  }
  .card-img {
    height: 200px;
  }
  .contact {
    display: none;
  }
  .icons {
    align-items: center;
  }
}
@media (max-width: 480px) {
  .footer-section {
    padding: 10px;
  }
  .list {
    font-size: 14px;
  }
  .copy-right {
    font-size: 12px;
  }
}
